name: Build, Test, and Publish

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.18]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci
      - run: npm install
      - run: npm run build --if-present

      - name: Obtener Tag
        id: obtener_tag
        run: |
          TAG=$(cat .env | grep PAM_APP_VERSION | awk -F '=' '{print $2}')
          echo "TAG=$TAG" >> $GITHUB_ENV
          echo $TAG
            
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5.0.0
        with:
          images: ghcr.io/${{github.repository}}-${{ env.TAG }}
          
        #logear a GitHub Container Registry
      - name: Login to GHCR 
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.0.0
        with: 
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5.0.0
        env:
          DOCKER_BUILDKIT: 1
        with:
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}-${{ env.TAG }}
          labels: ${{ steps.docker_meta.outputs.labels }}